# AWS HPC Recipes

You can access recipe assets using HTTPS or S3 protocols.
* HTTPS URL - https://{{_internal.s3_bucket}}.s3.{{_internal.region}}.amazonaws.com/VERSION/recipes/NAMESPACE/RECIPE/assets/
* S3 URL - s3://{{_internal.s3_bucket}}/VERSION/recipes/NAMESPACE/RECIPE/assets/

Generally, use `{{_internal.release_tag}}` for the version, unless you need to pin to a specific tag or commit. If that's the case, replace `{{_internal.release_tag}}` with a release tags such as `v1.0.0`. 

Here are example URLs for the CloudFormation launch template in the latest ParallelCluster recipe (**recipes/pcluster/latest**):
* HTTPS: https://{{_internal.s3_bucket}}.s3.{{_internal.region}}.amazonaws.com/main/recipes/pcluster/latest/assets/launch.yaml
* S3: s3://{{_internal.s3_bucket}}/main/recipes/pcluster/latest/assets/launch.yaml

You can use the HTTPS link in a couple of contexts.
1. You can download the file it references
    * `curl -O HTTPS_URL`
2. If it's a Cloudformation template, you can import it into the CloudFormation console when creating a stack
3. You can embed it in a CloudFormation [quick-launch link](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-console-create-stacks-quick-create-links.html).
    * `https://console.aws.amazon.com/cloudformation/home?region=REGION#/stacks/create/review?templateURL=HTTPS_URL`

Many recipes in this repository feature quick-launch links. 

The S3 URL is useful anywhere you want to use native S3 commands for data access. 
* `aws s3 cp s3://aws-hpc-recipes/VERSION/recipes/NAMESPACE/RECIPE/assets/FILE.yaml .`

----

{% include 'namespace.md.j2' %}
